<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LeaseUp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F0B93C6B1F72E09A001E055A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0B93C7F1F72E09B001E055A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0B93C8A1F72E09B001E055A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
